

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;

}
nav{
box-shadow: 2px 2px 2px rgb(210, 206, 206);

}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
 min-height:100vh;
  width:100%;
}
.content h1{
    font-size: 70px;
    font-weight: 700;
   
}
.content{
    position: absolute;
    z-index: 999;
}


#bg-img{
  height: 300px;
  width:500px;
  position: relative;
  top:30px;
}

.circle1{
    background-color: #f4c20d;
 height:280px;
 width:280px;
 border-radius: 50%;
 position: absolute;
 right:20px;
 bottom:30px;
 animation: ani2 2s linear infinite alternate;
 
}
.circle2{
    background-color: #db3236;
 height:450px;
 width:450px;
 border-radius: 50%;
 position: absolute;
 top:70px;
 left:170px;
 animation: ani1 2s linear infinite alternate;
 
 
}
.circle3{
    background-color:#3cba54;
 height:250px;
 width:250px;
 border-radius: 50%;
 position: absolute;
 right: 90px;
 top:70px;
 animation: ani3 2s linear infinite alternate;
 
}
.circle4{
    background-color: #4885ed;
 height:250px;
 width:250px;
 border-radius: 50%;
 
 position: absolute;
 left:0;
 bottom: 0px;
 animation: ani2 5s linear 2s infinite alternate;
 
}
@keyframes ani {
    0%{
     transform: translateX(-30px);
    }
    100%{
        transform: translate3d(-400px);
    }
}
@keyframes ani1 {
    0%{
     transform: translateX(30px);
    }
    100%{
        transform: translate3d(-400px);
    }
}
@keyframes ani2 {
    0%{
     transform: translatey(30px);
    }
    100%{
        transform: translate3d(-400px);
    }
}
@keyframes ani3 {
    0%{
     transform: translateX(-60px);
    }
    100%{
        transform: translate3d(-400px);
    }
}
.about{
    padding: 30px;
    display: inline;
    margin-top: 30px;
    padding-top: 50px;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
justify-content: space-between;
    flex-wrap: wrap;
 

}

.form-area{
  background-color: #15172b;
  
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 480px;
  outline: 0;
 
}
.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 90px;
}
.submit:active {
  background-color: #06b;
}

textarea{
  background: none;
  border: none;
  resize: none;
  color: white;

}
.leftt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  /* padding: 10px 30px 20px 20px; */
}
.container{
  padding-top: 60px;
}
.leftt span{
  color: #08d;
  font-size: 50px;
}
.message{
  position: relative;
  top:20px;
  
}
.faq {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.accordian {
  max-width: 650px;
  padding: 0.6rem;
  border-radius: 12px;
}

.accordian:first-child {
  background: #fdf7f0;
  
}

.accordian:nth-child(2) {
  background: #f5f4bc;
  border-left: 4px solid #f4c20d;
}

.accordian:nth-child(3) {
  background: #e7b9c2;
  border-left: 4px solid red;
}

.accordian:nth-child(4) {
  background: #b5e3aa;
  border-left: 4px solid green;
}
.accordian:nth-child(5) {
  background: #9fd0ea;
  border-left: 4px solid blue;
}

.accordian_head {
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.accordian_toggler {
  align-self: flex-start;
  background-color: transparent;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}

.accordian_toggler.active {
  rotate: 133deg;
}

.accordian_title {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
}

.accordian_body {
  background: transparent;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;
}

.active_body {
  grid-template-rows: 1fr;
}

.accordian_description {
  background-color: transparent;
  margin-top: 0.7rem;
  padding-left: 2.3rem;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 1.2rem;
}

        
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #1f1e1e;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            transition-duration: .2s;
            
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
       

        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
.footer {
    background: linear-gradient(105deg,#fefefe ,#ffffff);
    padding-top: 80px;
    padding-bottom: 40px;
    
}
/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
   
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}
.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}
.single_footer p{
  font-size: 18px;
}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li a {
    
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }

.single_footer_address{
  margin-right: 100px;
}


.single_footer_address ul li span {
    font-weight: 400;
   
    line-height: 28px;
}
.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/


/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:25px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
    text-align: center;
  
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 30px;
    
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
}
}
.social_profile ul li a:hover{
background:#88b2f1;


border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.copyright a{color:#011ce9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff3666;}
.last{
  height: 200px;
  width: 200px;
  
}
.line{
  position: relative;
  top:65px;
  width: 100%;
  height: 0.5px;
  background-color: #15172b;
}